<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue-Dart</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbars.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">


</head>
<body>

    
    <!-- Image and text -->
    <nav  class="navbar navbar-light bg-dark">
        <a  style="color: white !important;"  class= "navbar-brand" href="#">
            <img style="width: 50px !important; height: 50px !important; margin-left: 10px; border-radius: 25px !important;"  src="{% static 'images/logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Blue-Dart
        </a>

        <div style="margin:auto" class="link">
          <a class="links" href="{% url 'home' %}">Home</a>
          <a class="links" href="{% url 'home' %}">About</a>
          <a class="links" href="{% url 'home' %}">Service</a>
          <a class="links" href="{% url 'home' %}">Contact</a>
          
      </div>
      <div class="spac">
        <a href="{% url 'trackpage' %}" class="track-btn">Track-item</a>
      </div>
      

    </nav>
 
    <div class="imgcontainer">
        <div class="comname">Welcome To Blue-Dart And Shipping</div>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="{% static 'images/services1.webp' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/home-cargo.jpeg' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/home-image.jpg' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/home-image3.jpg' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/home-image1.jpg' %}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'images/home-image5.jpg' %}" alt=""></div>

            
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <br><br><br>

    <div class="logistics">Blue-Dart Logistics Solutions</div>
    <hr>

    <br><br>
    
    <div class="image-box">

        <div class="img-container">
            <!-- <img class="image" src="{% static 'images/homedelivery.webp' %}" alt=""> -->
            <img class="images" src="{% static 'images/homedelivery1.jpeg' %}" alt="">
        </div>
        
        <br>
        <div class="text-ord">
        <hr>
            <p class="home"> Home Dlivery</p>
            <p>Don't starve, just order, delivering happiness to your home, it's on time or it's on us 🚌 </p>
            <p class="slogan">A delivery service you can depend on</p>
        
        </div>
        
    </div>
    
    <div class="image-box">

        <div class="img-container">   
            <!-- <img class="image" src="{% static 'images/port-shipp.jpg' %}" alt=""> --> 
            <img class="images" src="{% static 'images/cargo.avif' %}" alt="">
            <!-- <img class="image" src="{% static 'images/cargo.avif' %}" alt="">     -->
        </div>

        <br>

        <div class="text-ord">
            <hr>
            <p class="home"> Cargo Shipping</p>
            <p>People cannot eat shipping costs. making shipping cost affordable for customers 🚢</p>
            <p class="slogan">Your lightning-fast delivery partner</p>

        </div>
       
    </div>

    <div class="image-box">

        <div class="img-container"> 
            <!-- <img class="image" src="{% static 'images/airport.jpeg' %}" alt="">   -->
            <img class="images" src="{% static 'images/flight-shipp.jpg' %}" alt="">   
        </div> 
        

        <br>
        <div class="text-ord">
            <hr> 
            <p class="home"> Blue-Dart &#9992;</p>
            <p>Time is money, money is time,the faster we deliver the more you make... &#9992; &#x2708;</p>
            <p class="slogan">Safe. Secure. Simple.</p>

        </div>
        
    </div>
    <br><br> 

    <div class="contact-main">Get in Touch With As &#128222;</div>
    <hr>
    <br><br>
    
    <div class="customer"> 
        <img class="cust-image" src="{% static 'images/cus.webp' %}" alt="">
    </div>
    <!-- <br> -->

    <div class="contactus">
        <div class="imagecon">
            <img class="contactimage" src="{% static 'images/customer-service.jpg' %}" alt="">
            
            <!-- <img class="customer-service" src="{% static 'images/customer-service5.jpg' %}" alt=""> -->
            
            <!-- <img class="customer-service" src="{% static 'images/customer-service2.jpg' %}" alt=""> -->
            <hr>
        </div>

        <p class="home"> Contact &#128222;</p>
        <p>Quicker Response,effective communication, 
            among customers in every part of the world.
            contact us on
            <p>email : Blue-Dart.us@gmail.com</p> 
            <p>USA   : +1 646-781-7114</p> 
            
        </p>
            
    </div> 

    <br><br>

    <div class="ourcompany">

        <div class="last">
            <div class="our">our company</div>
            <div class="com">About  Blue-Dart</div>
            <div class="com">Our Portfolio</div>
            <div class="com"> Investor Relations</div>
            <div class="com">Career</div>
        </div>  
        
             <!-- last -->

        <div class="last">
            <div class="our">MORE FROM Blue-Dart</div>
            <div class="com">Direct Parcel Compatible</div>
            <div class="com">Direct Parcel Developer Portal</div>
            <div class="com"> Direct Parcel Logistics</div>
            <div class="com">ShopRunner</div>
        </div>

        <div class="ourcompany-">
            <div class="com"> Blue-Dart Blog</div>
            <div class="com">Corporate Responsibility</div>
            <div class="com"> Newsroom</div>
            <div class="com">Contact</div>
        </div>
        
    </div> 


   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   <script src="{% static 'js/home.js' %}"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>
</html>  