*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    background-color: rgba(248, 214, 214, 0.849);
    
}


.track-src{
    width: 100%;
    padding: 5px;
}
.track-text{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 59);
    display: block;
    
}

.text-detials{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Arial;
    color: rgb(0, 0, 59);
}


table{
    width: 40%;
    /* height: 70px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: green;
    border: 2px solid red;
 
}


th{
    text-align: center;
    background-color: blueviolet;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 2px;
    
}

td{
    background-color: rgb(209, 90, 90);
}


p{
    text-align: center;
    font-size: 0.8rem;
    font-family: Arial;
    justify-content: space-between;
    padding: 2px;
}


.end{
    background-color: rgb(43, 43, 83);
    width: 100%;
    
}

.ourcompany{
    margin: 2%;
    margin-left: 40px;
    padding: 1%;
    display: inline-block;
}

.our{
    padding: 10px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}


.com{
    padding: 10px;
}

/* Tablet size */

@media all and (min-width:468px){

    .track-text{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 20px;
        font-family: Arial;
        font-weight: bold;
        color: rgb(0, 0, 59);
        
    }

    table{ 
        width: 50%;
        height: 100px;
        text-align: center;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    th, td{
        padding: 10px;
        font-size: 1.3rem;
        font-family: Arial;
        
    }
    
    td{
        background-color: rgb(209, 90, 90);
    }
    
    
    p{
        text-align: center;
        font-size: 1.5rem;
        font-family: Arial;
        justify-content: space-between;
        padding: 5px;
    }

    .end{
        background-color: blue;
        
    }

    .ourcompany{
        margin: 2%;
        margin-left: 40px;
        padding: 1%;
        display: inline-block;
    }
    
    .our{
        padding: 10px;
        font-size: 16px;
        font-family: Arial;
        font-weight: bold;
    }
    
    
    .com{
        padding: 10px;
    }
    

    
}

/* desktop size */

/* @media all and (min-width: 768px){

    



} */

